html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 20px;
  margin: 0 15px;
  background-color: #301d18e3;
  padding: 25px 0px;
  border-radius: 25px;
  z-index: 99 !important;
  transition: all 0.4s;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
  font-family: "Josefin Sans", sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  text-decoration-thickness: 0.5px;
  transition: all 0.15s ease-in-out;
}

nav a:hover {
  text-decoration-style: dotted;
  text-decoration-line: underline;
  transform: scale(1.22);
  color: beige;
}

.fa-bars {
  color: white;
  padding: 0% 25px;
  display: none !important;
}

.coffeeImageContainer {
  position: relative;
  text-align: center;
  color: beige;
}

.coffeeImageContainer img {
  filter: brightness(35%);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.centerTextBeans {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 128px;
  font-family: "Josefin Sans", sans-serif;
}

@media all and (max-width: 768px) {
  .centerTextBeans {
    font-size: 58px;
  }
  header {
    display: block;
    width: fit-content;
    border-radius: 50%;
  }
  .phoneNumber {
    display: none;
  }
  .headerNavLinks {
    display: none;
  }
  .fa-bars {
    display: block !important;
  }
  .aboutUs p {
    text-align: left;
  }
  .aboutUsFlex {
    flex-wrap: wrap;
  }
  #pastryImage {
    width: 100%;
    margin: 20px 0px;
  }
}

@media all and (min-width: 768px) {
  .phoneLink {
    display: none;
  }
}

.ingredientsTitle {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  color: white;
}

.ingredientsImage {
  position: relative;
  text-align: center;
  color: white;
}

.ingredientsImage img {
  filter: blur(4px);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ingredientsText {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5vw;
  padding: 7%;
  border-radius: 75px;
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
}

.footerGroup1 {
  display: flex;
  flex-direction: row;
  background-color: #301d18;
  justify-content: space-evenly;
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
  align-content: space-between;
  padding: 60px 0px;
  flex-wrap: wrap;
  flex-grow: 5;
}

.footerGroup1 span {
  color: white;
  font-size: large;
  background-color: none;
  padding: 10px;
}

.footerGroup1 a {
  color: white;
  text-decoration: none;
  font-size: large;
  background-color: none;
  padding: 10px;
  border-radius: 12px;
}

.footerGroup1 pre {
  color: white;
  font-size: large;
  font-family: "Josefin Sans", sans-serif;
}

.footerGroup1 a:hover {
  text-decoration: dotted;
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  background-color: rgba(0, 0, 0, 0.75);
}

.footerLogo {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.show {
  opacity: 1;
  visibility: visible;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.break {
  width: 100%;
}

.backToTop {
  position: fixed;
  left: 16px;
  bottom: 16px;
  transition: all 0.4s;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: #301d18;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.viewLargerMap {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-decoration-style: dotted;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f3f3f3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f3f3f3c0;
}

.ourHistory {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.aboutUs {
  text-align: left;
  font-family: "Josefin Slab", serif;
  color: white;
  margin: 50px 15%;
}

.aboutUs p {
  font-size: 1.25rem;
  line-height: 1.2;
}

.aboutUs h1 {
  font-size: 3rem;
}

.aboutUsFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUsFlex img {
  width: 40%;
  height: fit-content;
}

#pastryImage {
  border-radius: 15px;
}

#pastryText {
  margin-right: 5%;
}

.aboutUsMain {
  margin-bottom: 0;
}

.contact {
  margin: 50px 15%;
  color: white;
}

.contact p {
  font-family: "Josefin Slab", serif;
  font-size: 1.25rem;
  line-height: 1.2;
}

.contact ul {
  font-family: "Josefin Slab", serif;
  font-size: 1rem;
  line-height: 1.9;
}

.mailPhoneEtc {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
.openingTimesTitle {
  font-family: "Josefin Sans", sans-serif;
}

.openingTimes {
  text-align: right;
  margin: 50px 0;
}
.openingTimes ul {
  list-style-type: none;
}

.fa-minus {
  color: white;
  text-align: center;
  width: 100%;
  margin: 50px 0;
}

#everything {
  display: none;
  transition: all 0.5s;
}

.showBody {
  animation-name: showBody;
  animation-duration: 750ms;
}

@keyframes showBody {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #301d18;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-animation: spin 2s infinite;
  animation: spin 2s infinite;
  transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#body {
  display: none;
}
