html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 20px;
  margin: 0 15px;
  background-color: #301d18e3;
  padding: 25px 0px;
  border-radius: 25px;
  z-index: 99 !important;
  transition: all 0.4s;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
  font-family: "Josefin Sans", sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  text-decoration-thickness: 0.5px;
  transition: all 0.15s ease-in-out;
}

nav a:hover {
  text-decoration-style: dotted;
  text-decoration-line: underline;
  transform: scale(1.22);
  color: beige;
}

.fa-bars {
  color: white;
  padding: 0% 25px;
  display: none !important;
}

.coffeeImageContainer {
  position: relative;
  text-align: center;
  color: beige;
}

.coffeeImageContainer img {
  filter: brightness(35%);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.centerTextBeans {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 128px;
  font-family: "Josefin Sans", sans-serif;
}

@media all and (max-width: 768px) {
  .centerTextBeans {
    font-size: 58px;
  }
  header {
    display: block;
    width: fit-content;
    border-radius: 50%;
  }
  .phoneNumber {
    display: none;
  }
  .headerNavLinks {
    display: none;
  }
  .fa-bars {
    display: block !important;
  }
}

@media all and (min-width: 768px) {
  .phoneLink {
    display: none;
  }
}

.ingredientsTitle {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  color: white;
}

.ingredientsImage {
  position: relative;
  text-align: center;
  color: white;
}

.ingredientsImage img {
  filter: blur(4px);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ingredientsText {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5vw;
  padding: 7%;
  border-radius: 75px;
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
}

.footerGroup1 {
  display: flex;
  flex-direction: row;
  background-color: #301d18;
  justify-content: space-evenly;
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
  align-content: space-between;
  padding: 60px 0px;
  flex-wrap: wrap;
  flex-grow: 5;
}

.footerGroup1 span {
  color: white;
  font-size: large;
  background-color: none;
  padding: 10px;
}

.footerGroup1 a {
  color: white;
  text-decoration: none;
  font-size: large;
  background-color: none;
  padding: 10px;
  border-radius: 12px;
}

.footerGroup1 pre {
  color: white;
  font-size: large;
  font-family: "Josefin Sans", sans-serif;
}

.footerGroup1 a:hover {
  text-decoration: dotted;
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  background-color: rgba(0, 0, 0, 0.75);
}

.footerLogo {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.break {
  width: 100%;
}

.backToTop {
  position: fixed;
  left: 16px;
  bottom: 16px;
  transition: all 0.4s;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: #301d18; /* Black w/opacity */
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
